
body {
  padding: 2em;
  background-color: #ffffff;
  animation: gradient 12s ease infinite;
}

.button-normal {
  border: 1px solid #555;
  background-color: #eee;
  border-radius: 4px;
  padding: 4px;
}

.page { /* このように修正 */
  /* ...他のスタイル設定... */

}